{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Eliminar Post</title>
{% endblock %}

{% block header %}
{% include "partes/header.html" %}
{% endblock %}

{% block contenido %}
<div class="container">
    <h2>Confirmar eliminación</h2>
    
    <p>¿Estás seguro de que querés eliminar el post {{ object.titulo }}?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% include "partes/footer.html" %}
{% endblock %}
