{% extends "base.html" %}
{% load static %}


{% block titulo %}
<title>Post</title>
{% endblock %}


{% block header %}
    {% include "partes/header.html" %}
{%endblock%}


{% block contenido %}
<div class="contenido">
    <ul>
        {% for post in posts %}
          <li>
          <h2>{{post.titulo}}</h2>
          <p>{{ post.descripcion}}</p>
          <p><strong>Genero:</strong> {{post.genero}}</p>
          <p><em>Publicado el {{post.fecha}}</em></p>
          <img src="{{ post.imagen_post.url }}" alt="Imagen del post" style="max-width: 300px; height: auto;"/>
          <a href="{{post.id}}"><button>Abrir Post</button></a>
          </li>
          {% empty %}
          <p>No hay registro</p>
        {% endfor %}
      </ul>
</div>
{%endblock%}

{% block footer %}
    {% include "partes/footer.html" %}
{%endblock%}
